
<article>
    <h2>Order Record Part</h2>
    @Model.OrderRecordPart.PreferredDays
    @Model.OrderRecordPart.CreatedAt

    @Model.ContentItem.OrderRecordPart.PreferredDays
    @Model.ContentItem.OrderRecordPart.CreatedAt

</article>