
<article>
    <h2>Order Part</h2>
    @Model.OrderPart.PreferredDays
    @Model.OrderPart.CreatedAt

    @Model.ContentItem.OrderPart.PreferredDays
    @Model.ContentItem.OrderPart.CreatedAt

</article>